* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  display: inline-block; }

header {
  background-color: burlywood;
  position: sticky;
  font-size: 3rem;
  height: 40rem;
  width: auto; }

.gradient {
  background-image: linear-gradient(burlywood, chocolate); }

a {
  text-decoration: none;
  color: chocolate; }

section img {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: auto;
  padding: auto;
  border: auto; }

.imgMain img {
  width: 60%; }

.vidMain iframe {
  width: auto; }

section iframe {
  margin-left: auto;
  margin-right: auto;
  display: inline; }

nav ul li {
  display: flex;
  flex-direction: column;
  font-size: 2rem; }

.gridNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

h1 {
  font-size: 4rem; }

.familiaTipografica {
  font-family: verdana;
  text-align: center; }

ul li {
  font-size: 2rem; }

ol li {
  font-size: 3rem;
  list-style-type: none;
  display: inline; }

.a {
  font-size: 3rem; }

.a2 {
  font-size: 3rem; }

.a3 {
  font-size: 3rem; }

.card {
  border-radius: 3rem;
  margin: 1rem;
  padding: 1rem; }

.gridYt {
  background: antiquewhite;
  list-style-type: none;
  display: grid;
  margin: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: ". li ." "a a2 a3"; }

.li {
  grid-area: li; }

.a {
  grid-area: a; }

.a2 {
  grid-area: a2; }

.a3 {
  grid-area: a3; }

.grid {
  background: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 2rem;
  justify-content: center;
  font-size: 2rem; }

@media screen and (max-width: 576px) {
  section iframe {
    display: block;
    margin: 2rem;
    padding: 2rem; }
  .gridNav {
    display: flex;
    flex-direction: column; }
  .grid-index {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; } }

@media screen and (max-width: 576px) and (max-width: 992px) {
  section iframe {
    display: block; }
  nav ul {
    display: flex;
    flex-direction: column; } }

@media (min-width: 992px) {
  section iframe {
    margin-left: auto;
    margin-right: auto;
    display: inline; } }

h2 {
  font-size: 3rem; }

div p {
  display: flex;
  justify-content: center;
  font-size: 2rem; }

.gridProyectos {
  list-style-type: none;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  background-color: darkgoldenrod; }

section div {
  margin: 1rem;
  padding: 2rem;
  border: 2rem;
  background-color: brown;
  font-size: 2rem; }

section a {
  margin: 1rem;
  padding: 2rem;
  border: 2rem;
  background-color: bisque;
  font-size: 2rem; }

@media screen and (max-width: 576px) {
  .gridProyectos {
    background-color: coral;
    display: flex;
    flex-direction: column; }
  .grid-proyecto {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; } }

@media screen and (max-width: 576px) and (max-width: 992px) {
  .gridProyectos {
    background-color: chocolate; } }

@media (min-width: 992px) {
  .gridProyectos {
    background-color: darkgoldenrod; } }

div h1 h4 {
  background-color: bisque;
  margin: 2rem;
  padding: 1rem; }

form {
  display: inline-flex; }

@media screen and (max-width: 576px) {
  form {
    display: block; } }

@media screen and (max-width: 576px) and (max-width: 992px) {
  form {
    display: block; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animation {
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-duration: 10s;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem; }

div iframe {
  display: flex;
  justify-content: space-around; }

.stylesheet {
  background-color: beige; }

.transition {
  width: 150px;
  transition: width 2s; }

.transition:hover {
  width: 200px; }

@media screen and (max-width: 576px) {
  .stylesheet {
    background-color: goldenrod; }
  div iframe {
    width: auto; } }

@media (min-width: 576px) and (max-width: 992px) {
  .stylesheet {
    background-color: gold; }
  div iframe {
    width: auto; } }

@media (min-width: 992px) {
  .stylesheet {
    background-color: beige; }
  div iframe {
    flex: auto; } }

div p {
  margin: 3rem; }

main div h1 {
  background-color: blanchedalmond; }

div iframe {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center; }

@media screen and (max-width: 576px) {
  div iframe {
    display: block;
    width: auto; }
  main div h1 {
    background-color: goldenrod; } }

@media (min-width: 576px) and (max-width: 992px) {
  div iframe {
    display: block;
    width: auto; }
  main div h1 {
    background-color: burlywood; } }

@media (min-width: 992px) {
  div iframe {
    margin-left: auto;
    margin-right: auto;
    display: inline; }
  main div h1 {
    background-color: blanchedalmond; } }

footer {
  background-color: burlywood; }

footer ul li {
  display: inline; }
