div{
    h1{ 
        h4 {
            background-color: bisque;
            margin: 2rem;
            padding: 1rem;
        }
    }
}

form {
    display:inline-flex
}

@media screen and (max-width:576px){
    form {display: block;}
}

@media screen and (max-width:576px) and (max-width: 992px){
    form {display: block;}
}


@keyframes aparecer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.animation{
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-duration: 10s;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
}