h1 {
    font-size: 4rem;
}
.familiaTipografica {
    font-family: verdana;
    text-align: center;
}

ul{
    li {
        font-size: 2rem;
    }
}

ol{
    li {
        font-size: 3rem;
        list-style-type: none;
        display: inline
    }
}

.a {
    font-size: 3rem;
}

.a2 {
    font-size: 3rem;
}

.a3 {
    font-size: 3rem;
}

.grid-index{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}
header{grid-area: header;}
main{grid-area: main;}
footer{grid-area: footer;}

.vidMain {
    display: flex;
    justify-content: center;
}

.gridYt {
    background: antiquewhite;
    list-style-type: none;
    display: grid;
    margin: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". li ."
        "a a2 a3";
    }
    .li { grid-area: li; }
    .a { grid-area: a; }
    .a2 { grid-area: a2; }
    .a3 { grid-area: a3; }
    
.grid {
    background: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 2rem;
    justify-content: center;
    font-size: 2rem;
}

@media screen and (max-width:576px){
    section{
        iframe {
            display: block;
            margin: 2rem;
            padding: 2rem;
        }
    }
    .gridNav{
        display: flex; flex-direction: column;
        
    }
    .gridYt{
        display: flex; flex-direction: column;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1.8fr 0.2fr 1.8fr 0.2fr 1.8fr;
        gap: 0px 0px;
        grid-template-areas:
          "c1 . ."
          "card1 card1 card1"
          "c2 c2 ."
          "card2 card2 card2"
          "c3 c3 ."
          "card3 card3 card3";
      }
      .card1 { grid-area: card1; }
      .card2 { grid-area: card2; }
      .card3 { grid-area: card3; }
      .c1 { grid-area: c1; }
      .c2 { grid-area: c2; }
      .c3 { grid-area: c3; }
}

@media screen and (max-width:576px) and (max-width: 992px){
    section iframe {display: block;}
    nav{
        ul {display: flex; flex-direction: column;
        }
    }

}

@media (min-width: 992px){
    a {
        display: flex; justify-content: center;}
}
